p#demo{
    background: #fffaaa;
}
div#loop{
    height: 200px;
    width: 400px;
    font-size: 2em;
    color: green;
    border: 2px solid green;
}
button{
    font-size: 2em;
    color: blue;
}